{{#partial "content"}}
        {{#each yourHeroes}}
            <p>{{ name }}</p>
            <p>{{ superPower }}</p>
            <p>{{ weakness }}</p>
        {{/each}}
{{/partial}}

{{> layout.hbs}}