{{#partial "content"}}

    <h1>Create your Hero</h1>

    <form action="/heroes/new" method="post">
        <label for="name">Enter your heroes name</label>
        <input class="form-control form-control-lg" id="name" name="name" type="text"><br>
        <label for="age">Enter your heroes age</label>
        <input class="form-control form-control-lg" id="age" name="age" type="text"><br>
        <label for="superPower">Enter your heroes ability</label>
        <input class="form-control form-control-lg" id="superPower" name="superPower" type="text"><br>
        <label for="weakness">Enter your heroes weakness</label>
        <input class="form-control form-control-lg" id="weakness" name="weakness" type="text"><br>
        <button type="submit" class="btn btn-outline-secondary">Create Hero</button>
    </form>

{{/partial}}

{{> layout.hbs}}