{{#partial "content"}}

    <h1>WELCOME TO HERO SQUAD</h1>

    {{#if hero}}
        {{#each hero}}
            <p>Your hero</p>
            <p>{{name}}</p>
            <p>{{superPower}}</p>
            <p>{{weakness}}</p>
            {{/each}}
        {{else}}
        <p>You have no heroes yet</p>
        {{/if}}

{{/partial}}

{{> layout.hbs}}