<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}HERO SQUAD{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<!--    <link rel='stylesheet' href='/app.css'>-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h4>HERO SQUAD</h4>
    <img src="/images/heroeslogo.jpeg" width="50" height="50" alt="Heroes logo">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/heroes/new">Create A Hero</a>
            <a class="nav-item nav-link" href="/squads/new">Create A Squad</a>
        </div>
    </div>
</nav>
<div class="container">
    <!--begin main template-->
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}