{{#partial "content"}}

    <h1>Create your Squad</h1>

    <form action="/squads/new" method="post">
        <label for="squadName">Enter your squads name</label>
        <input class="form-control form-control-lg" id="squadName" name="squadName" type="text"><br>
        <label for="course">Enter your squads cause</label>
        <input class="form-control form-control-lg" id="course" name="course" type="text"><br>
        <label for="heroName">Enter name of hero you want to add</label>
        <input class="form-control form-control-lg" id="heroName" name="heroName" type="text"><br>
        <button type="submit" class="btn btn-outline-secondary">Create Squad</button>
    </form>

{{/partial}}

{{> layout.hbs}}