{{#partial "content"}}

    <h1>Create your Squad</h1>

    <form action="/squads/new" method="post">
        <label for="SquadName">Enter your squads name</label>
        <input class="form-control form-control-lg" id="squadName" name="SquadName" type="text"><br>
        <label for="cause">Enter your squads cause</label>
        <input class="form-control form-control-lg" id="cause" name="cause" type="text"><br>
        <button type="submit" class="btn btn-outline-secondary">Create Squad</button>
    </form>

{{/partial}}

{{> layout.hbs}}