{{#partial "content"}}
    {{#each yourSquads}}
        <p>{{ squadName }}</p>
        <p>{{ course }}</p>
        <p>{{  }}</p>
<!--        <p>{{ hero }}</p>-->
    {{/each}}
{{/partial}}

{{> layout.hbs}}